#menu-control{
    display: none;
}
#menu-control:checked ~ header .about{
    display: block;
    height: calc(100% - 106px);
} 
#menu-control:checked ~ section, #menu-control:checked ~.main-txt,#menu-control:checked ~ .function,#menu-control:checked ~ .brand ,#menu-control:checked ~ .asia ,#menu-control:checked ~ .more-infro{
    display: none;
}
@media screen and (min-width:768px){
    .col-md-1{width: 8.333333%;}
    .col-md-2{width: 16.666666%;}
    .col-md-3{width: 25%;}
    .col-md-4{width: 33.333333%;}
    .col-md-5{width: 41.666666%;}
    .col-md-6{width: 50%;}
    .col-md-7{width: 58.333333%;}
    .col-md-8{width: 66.666666%;}
    .col-md-9{width: 75%;}
    .col-md-10{width: 83.333333%;}
    .col-md-11{width: 91.666666%;}
    .col-md-12{width: 100%;}
}
@media screen and (max-width:767px){
    header{
        width: 100%;
        margin: auto;
        display: flex;
        justify-content: space-between;
        position: fixed;
        background-color: #fff;
    }
    .logo {
        width: 50%;
    }
    .logo img{
        width: 100%;
    }
    .enter, .brand-pic{
        display: none;
    }
    .hb{
        width: 50px;
        height: 50px;
        text-align: center;
    }
    .hb i{
        font-size: 40px;
    }
    .about{
        background-color: #f00;
        width: 100%;
        margin: auto;
        position: absolute;
        top: 6%;
        left: 0;
        display: none;
    }
    .about nav a{
        display: block;
        text-decoration: none;
        margin-top: 10px;
        padding-left: 10px;
    }
    .about nav .freeTry{
        display: none;
    }
    .about nav a::after{
        content: '';
        width: 100%;
        height: 2px;
        background-color: #eee;
        margin: 20px 0px;
        display: block;
    }
    .btn {
        width: 100%;
        margin-top: 20px;
    }
    .btn .free-try,.sign-in{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;
    }
    .free-try a, .sign-in a{
        color: #fff;
        background-color: #00f;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px 50px;
        margin: auto;
        text-decoration: none;
        border-radius: 30px;
    }
    .sign-in a{
        border: 2px solid #00f;
        color: #00f;
        background-color: #fff;
    }
    .start-business{
        width: 100%;
        display: flex;
        justify-content: space-around;
        background-color: #00142D;
        color: #fff;
        padding: 20px;
        margin: auto;
        position: fixed;
        bottom: 0;
        left: 0;
        box-sizing: border-box;
    }
    section{
        width: 100%;
        margin: auto;
        background-color: #00142D;
    }
    .pic{
        width: 90%;
        margin: auto;
    }
    .pic img{
        /* width: 320px; */
        width: 100%;
        display: flex;
        padding: 20px 0px ;
        margin: auto;
    }
    section .txt{
        width: 90%;
        margin: auto;
        padding-top: 20px;
    }
    section .txt h2{
        color: #fff;
        text-align: center;
        font-size: 30px;
        margin-bottom: 15px;
    }
    section .txt p{
        color: #fff;
        line-height: 24px;
        font-size: 18px;
        padding: 0px 0px 15px;
    }
    section .txt input{
        width: calc(100% - 20px);
        height: 30px;
        color: white;
        border: none;
        border-bottom: 2px solid white;
        background-color: #00142D;
        font-size: 20px;
        margin: 10px 10px 10px 0px;
    }
    section .txt button{
        width: 100%;
        background-color: #00f;
        color: #fff;
        border-radius: 30px;
        padding: 10px 40px;
        margin-bottom: 20px;
        font-size: 20px;
    }
    .main-txt{
        width: 100%;
        margin: auto;
        margin-bottom: 30px;
        padding: 60px 0px ;
    }
    .title{
        width: 90%;
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
    }
    .title h2{
        font-size: 28px;
        margin-bottom: 30px;
        line-height: 1.5em;
    }
    .title p{
        font-size: 17px;
        line-height: 1.5em;
    }
    .intxt{
        width: 90%;
        margin: auto;
    }
    .intxt .pic img{
        width: 100%;
    }
    .intxt h3{
        margin-top: 20px;
        font-size: 28px;
        line-height: 1.5em;
    }
    .intxt p{
        line-height: 1.5em;
        margin-top: 20px;
        margin-bottom: 25px;
    }
    .intxt ul{
        margin-bottom: 20px;
    }
    .intxt li{
        margin: 10px 0px;
    }
    .intxt li i{
        color: #b8d4f5;
    }
    .intxt a{
        text-decoration: none;
        font-size: 17px;
        color: #00c;
    }
    .function{
        width: 100%;
        margin: auto;
        text-align: center;
    }
    .function h2{
        font-size: 28px;
        margin-bottom: 20px;
    }
    .serve{
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        text-align: center;
        justify-content: space-between;
    }
    .inserve{
        width: 45%; 
        margin-bottom: 30px;       
    }
    .inserve h3{
        font-size: 20px;
    }
    .inserve p{
        text-align: justify;
        line-height: 1.5em;
    }
    .brand{
        width: 90%;
        margin: auto;
    }
    .recommend{
        margin-top: 20px;
    }
    .recommend h2{
        font-size: 35px;
        margin-bottom: 30px;
        line-height: 1.3em;
    }
    .recommend span{
        color: #00f;
    }
    .inshow {
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
        text-align: left;
    }
    .inshow img{
        width: 100%;
        padding-top: 0;
    }
    .inshow a{
        text-decoration: none;
        color: #00f;
        display: inline-block;
        margin-bottom: 20px;
    }
    .inshow p{
        line-height: 1.7em;
        font-size: 16px;
        padding-bottom: 15px;
        margin-bottom: 20px;
    }
    .inshow span{
        font-size: 17px;
        margin-bottom: 20px;
        display: inline-block;
    }
    .dot{
        width: 100%;
        margin: auto;
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    .in-dot{
        width: calc(90% / 5);
    }
    .dot a{
        text-decoration: none;
        text-align: center;
    }
    .asia{
        width: 100%;
        margin: auto;
        background-color: #032249;
    }
    .asia-txt{
        width: 90%;
        margin: auto;
        padding-bottom: 50px;
    }
    .asia-txt .txt{
        width: 100%;
        background:#032249 ;
        margin: auto;
        position: relative;
    }
    .asia-txt .txt p{
        color: #fff;
        font-size: 30px;
        line-height: 2em;
        padding: 20px 0px;
    }
    .asia-txt .txt button{
        width: 90%;
        padding: 10px 0px;
        margin: 0px 20px;
        text-align: center;
        color: #fff;
        border-radius: 30px;
        background-color: #00f;
    }
    .asia-txt .txt  img{
        width: 100%;
        background-color: #032249;
    }
    .more-infro{
        width: 100%;
        margin: auto;
        background-color: #00142d;
    }
    .footerwrap{
        width: 100%;
        margin: auto;
        background-color: #00142d;
    }
    .footer{
        width: 100%;
        margin: auto;
    }
    .footercol h3{
        width: 90%;
        margin: auto;
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 20px 0;
        line-height: 1;
    }
    .footercol h3::after{
        content: '\f107';
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
    }
    .footercol ul{
        display: none;
    }
    .footercolspecial h3{
        width: 90%;
        margin: auto;
        font-size: 17px;
        display: flex;
        justify-content: space-between;
        color: #fff;
        padding: 20px 0;
        line-height: 1;
    }
    .footercolspecial ul{
        display: none;
    }
    .C19{
        width: 100%;
        margin: auto;
    }
    .COVID-19{
        padding: 20px 0px;
        text-align: center;
    }
    .COVID-19 a{
        background-color: #dbf8ed;
        color: #000;
        padding: 5px 10px;
        text-decoration: none;
    }
    [class*='copy-'] {
        text-align: center;
        margin: auto;
        padding: 20px 0px;
        color: #fff;
    }
    .footerbom .copy-img img{
        width: 45px ;
        height: 45px;
    }
    .copy-ul ul{
        width: 100%;
        margin: auto;
    }
    .copy-ul li{
        color: #fff;
        display: block;
        text-align: center;
        padding: 10px 0px;
    }
    .copy-p p{
        margin-bottom: 30px;
        padding-bottom: 20px;
        position: relative;
    }
    .copy-p p::after{
        content: '\f0ac  台灣(中文)';
        font-weight: 900;
        font-family: "Font Awesome 6 Free";
        position: absolute;
        top: 100%;
        left: 20px;
        text-align: center;
    }
}
@media screen and (min-width:1200px){
    .hb{
        display: none;
    }
    .about .start-business , #menu-control , .btn,.start-business, .dot,.asia-txt img{
        display: none;
    }
    .enter{
        width: 100%;
        background-color: rgb(14, 3, 44);
        margin: auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        flex-wrap: wrap;   
    }
    .sign{
        width: 1350px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
    }
    .sign i {
        color: aliceblue;
        margin-right: 10px;
    }
    .enter a{
        color: aliceblue;
        text-decoration: none;
    }
    header{
        width: 100%;
        background-color: rgb(247, 247, 247);
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 1350px;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }
    header img{
        width: 160px;
    }
    .about nav a{
        text-decoration: none;
        align-items: center;
        padding: 10px;
        color: black;
    }
    .about a.freeTry{
        text-decoration: none;
        background-color: rgba(88, 103, 241, 0.966);
        align-items: center;
        padding: 10px;
        margin-left: 400px;
        border-radius: 30px; 
    } 
    section{
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        background-color: rgb(14, 3, 44);
    }
    section .pic{
        width: 675px;
        justify-content: center;
        align-items: center;
    }
    section .pic img{
        width: 100%;
        padding: -5px;
        margin: auto;
    }
    section .txt{
        width: 625px;
        margin: 30px;
        padding: 100px 0px 50px 20px;
        justify-content: center;
        align-items: center;
    }
    .txt h2{
        font-size: 28px;
        line-height: 1.5em;
        color: #fff;
    }
    .txt span{
        color: green;
    }
    .txt p{
        color: #fff;
        line-height: 1.5em;
        font-size: 20px;
    }
    .txt input{
        width: 350px;
        height: 30px;
        color: white;
        border: none;
        border-bottom: 1px solid white;
        background-color: rgb(14, 3, 44);
        margin-top: 10px;
        margin-right: 10px;
    }
    .txt button{
        text-decoration: none;
        background-color: rgba(88, 103, 241, 0.966);
        color: black;
        align-items: center;
        padding: 10px;
        border-radius: 30px; 
    }
    .main-txt{
        width: 100%;
        padding-top:50px ;
    }
    .title{
        width: 1350px;
        margin: auto;
        margin-top: 50px;
        margin-bottom: 120px;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
    
    }
    .title h2{
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
        font-size: 35px;
        line-height: 1.5em;
        margin-bottom: 20px;
    }
    .title p{
        width: 50%;
        font-size: 17px;
        line-height: 1.5em;
    }
    .inrow{
        width: 1350px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
    }
    .intxt{
        display: flex;
        margin-bottom: 40px;
    }
    .intxt:nth-child(odd){
        flex-direction: row-reverse;
    }
    .intxt .pic{
        width: 655px;
        padding: 10px;
    }
    .intxt .pic img{
        width: 100%;
        height: auto;
    }
    .intxt .txt{
        width: 655px;
    }
    .intxt h3{
        font-size: 35px;
        line-height: 1.5em;
        margin-bottom: 15px;
    }
    .intxt p{
        line-height: 1.5em;
        font-size: 20px;
        color: #000;
        margin-bottom: 30px;
    }
    .intxt ul{
        width: 600px;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    .intxt li{
        width: 300px;
        flex-wrap: wrap;
        font-size: 20px;
        padding-bottom: 15px;
    }
    .intxt i{
        color: aqua;
    }
    .intxt a{
        font-size: 25px;
        color: blue;
        text-decoration: none;
    }
    .function {
        background-color: #f4f5f7;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: auto;
        padding-top: 50px;
        padding-bottom: 40px;
    }
    .function h2{
        width: 100%;
        flex-wrap: wrap;
        text-align: center;
        font-size: 35px;
        padding: 30px 0px;
    }
    .function .serve{
        width: 1350px;
        display: flex;
        margin: auto;
        flex-wrap: wrap;
    }
    .serve .inserve{
        width: 450px;
    }
    .inserve img{
        padding: 10px 10px;
        margin: 10px 130px;
        background-color: #fff;
        border-radius: 30%; 
        text-align: center;
    }
    .inserve h3{
        font-size: 25px;
        padding: 10px 110px;
    }
    .inserve .inp{
        width: 447px;
        margin: auto;
        font-size: 22px;
        line-height: 1.5em;
    }
    .brand{
        width: 1350px;
        display: flex;
        flex-wrap: wrap;
        /* padding: 30px 35px 0px; */
        margin: auto;
    }
    .recommend{
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        border-bottom: 1px solid grey;
    }
    .recommend h2{
        font-size: 30px;
        width: 1110px;
        margin: auto;
        padding: 30px 120px 30px;
        text-align: center;
    }
    .recommend .brand-pic{
        width: 270px;
        text-align: center;
    }
    .pop{
        width: 1350px;
        margin: auto;
        display: flex;
        flex-direction: row-reverse;
        flex-wrap: wrap;
    }
    .inshow{
        width: 615px;
        padding: 10px;
        margin: 20px;
        text-align: left;
    }
    .inshow a{
        text-decoration: none;
        color: #00f;
        margin-top: 20px;
        font-size: 20px;
    }
    .inshow p{
        padding-top: 10px;
        padding-bottom: 50px;
        font-size: 20px;
        line-height: 2em;
    }
    .inshow span{
        display: block;
        font-size: 20px;
        color: #000000;
        margin-top: 60px;
    }
    .inshow img{
        width: 100%;
    }
    .asia{
        width: 100%;
        height: 490px;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        background-color: #032249;
        justify-content: center;
    }
    .asia-txt{
        width: 1350px;
        display: flex;
        justify-content: flex-end;
        background:#032249 url(https://img.shoplineapp.com/media/image_clips/609d0f5c33fdc6001aa95da6/original.png?1620905820) no-repeat right bottom;
    }
    .asia-txt .txt{
        width: 1350px;
        color: aliceblue;
        font-size: 40px;
        margin: auto;
    }
    .asia-txt .txt p{
        color: #fff;
        line-height: 1.5em;
        font-size: 40px;
        margin-bottom: 30px;
    }
    .asia-txt .txt button{
        background-color: rgb(18, 61, 250);
        color: #fff;
        list-style: none;
        display: inline-block;
        font-size: 17px;
        padding: 10px 100px;
        border-radius: 30px; 
    }
    .more-infro{
        background-color: #0f1b31;
    }
    .footerwrap{
        width: 100%;
        height: auto;
        background-color: #0f1b31;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .footer{
        width: 1350px;
        border-top: 1px solid grey;
        margin-top: 20px;
        display: flex;
        color: white;
        justify-content: space-between;
    }
    .footercol ul,.footercolspecial ul{
        list-style: none;
    }
    .footercol a, .footercolspecial a{
        text-decoration: none;
        color: white;
        line-height: 30px;
    }
    .footercol{
        width: 150px;
    }
    .footercol h3, .footercolspecial h3{
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .footercolspecial{
        width: 250px;
    }
    .C19{
        width: 100%;
        background-color: #0f1b31;
        padding-bottom: 10px;
    }
    .COVID-19{
        width: 1350px;
        background-color: #0f1b31;
        margin: auto;
        display: flex;
        justify-content: flex-end;
    }
    .COVID-19 a{
        color: #000000;
        text-decoration: none;
        background-color: #dbf8ed;
        padding: 20px 40px;
    }
    .footerbom{
        width: 100%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        background-color: #0f1b31;
        justify-content: center;
    }
    .copy-img, .copy-ul ,.copy-p{
        width: 450px;
        color: white;
        display: flex;
        align-items: center;
    }
    .copy-ul{
        order: -1;
    }
    .copy-ul ul{
        display: inline-block;
        justify-content: center;
    }
    .copy-ul li{
        list-style: none;
        display: inline-block;
    }
    .copy-img{
        width: 450px;
    }
    .copy-p{
        width: 450px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 160px;
    }
}
