*{
    margin: 0;
    padding: 0;
}
.enter{
    width: 100%;
    background-color: rgb(14, 3, 44);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;   
}
.fa-solid {
    color: aliceblue;
}
.line{
    color: aliceblue;
    margin: 10px;
}
div.enter a{
    color: aliceblue;
    margin: 10px;
    text-decoration: none;
}
.about{
    width: 100%;
    background-color: rgb(247, 247, 247);
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.about img{
    width: 10%;
    margin: 20px; 
}
.about a{
    text-decoration: none;
    align-items: center;
    color: black;
}
.about a.freeTry{
    text-decoration: none;
    background-color: rgba(88, 103, 241, 0.966);
    align-items: center;
    padding: 10px;
    margin-left: 400px;
    border-radius: 30px; 
} 
.group{
    width: 100%; 
    height: 600px;
    margin: auto;
    align-items: center;
}
.row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(14, 3, 44);
    /* padding-bottom: 250px; */
}
.row .pic{
    width: 700px;
    justify-content: center;
    align-items: center;
}
.row .pic img{
    width: 100%;
    padding: 100px 0px 50px 20px;
}
.row .txt{
    width: 640px;
    margin: 30px;
    padding: 100px 0px 50px 20px;
    justify-content: center;
    align-items: center;
}
.row .txt h1{
    color: #fff;
}
.txt span{
    color: green;
}
.row .txt h2{
    color: #fff;
}
.row .txt input{
    border-width: 0 0 1px;
    width: 350px;
    height: 30px;
    color: white;
    border: none;
    border-bottom-style: solid;
    background-color: rgb(14, 3, 44);
    margin-right: 10px;
}
.row .txt a{
    text-decoration: none;
    background-color: rgba(88, 103, 241, 0.966);
    color: black;
    align-items: center;
    padding: 10px;
    border-radius: 30px; 
}
.intitle{
    text-align: center;
    margin-top: 200px;
    margin-bottom: 120px;
}
.ingroup{
    width: 1200px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.inrow{
    display: flex;
}
.inrow:nth-child(odd){
    flex-direction: row-reverse;
}
.inrow .inpic{
    width: 100%;
    padding: 10px;
}
.inrow .inpic img{
    width: 100%;
    height: auto;
}
.inrow .intxt{
    width: 100%;
    margin: 10px;
    list-style: none;
}
.intxt a{
    color: blue;
    text-decoration: none;
}
.list{
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
.list div{
    width: 300px;
    
}
.function {
    background-color: #f4f5f7;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.function h2{
    width: 100%;
    flex-wrap: wrap;
    text-align: center;
    padding: 30px 0px;

}
.function .serve{
    width: 1350px;
    display: flex;
    margin: auto;
    flex-wrap: wrap;
}
.serve .inserve{
    width: 450px;
}
.inserve img{
    padding: 10px 10px;
    margin: 10px 130px;
    background-color: #fff;
    border-radius: 30%; 
    text-align: center;
}
.inserve h3{
    padding: 10px 120px;
}
.inserve .inp{
    width: 400px;
    font-size: 20px;
}
.brand{
    width: 1350px;
    display: flex;
    flex-wrap: wrap;
    padding: 30px 35px 0px;
    margin: auto;
}
.recommend{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-bottom: 1px solid grey;
}
.recommend h2{
    width: 1110px;
    padding: 0px 120px 30px;
    text-align: center;
}
.recommend .pic{
    width: 270px;
    text-align: center;
}
.pop{
    width: 1350px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.inshow{
    width: 600px;
    padding: 10px;
    margin: 20px;
}
.inshow a{
    text-decoration: none;
    color: black;
    margin-top: 20px;
    font-size: 20px;
}
.inshow p{
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 20px;
}
.inshow h3{
    display: inline-block;

    padding-top: 30px;
}
.inshow img{
    width: 100%;
}
.end{
    width: 100%;
    height: 490px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background:#032249 url(https://img.shoplineapp.com/media/image_clips/609d0f5c33fdc6001aa95da6/original.png?1620905820) no-repeat right bottom;
}
.footp{
    width: 1350px;
    color: aliceblue;
    font-size: 40px;
    margin: auto;
}
.footp li{
    background-color: rgb(18, 61, 250);
    list-style: none;
    display: inline-block;
    font-size: 17px;
    padding: 10px 100px;
    border-radius: 30px; 
}
.footimg img{
    width: 100%;
    margin-top: 40px;
    margin-left: 40px;   
}
.section{
background-color: #0f1b31;
}
.footerwrap{
width: 100%;
height: auto;
background-color: #0f1b31;
margin: auto;
display: flex;
justify-content: center;
}
.footerlist{
width: 1350px;
border-top: 1px solid grey;
margin-top: 20px;
display: flex;
color: white;
justify-content: space-between;
}
.footerlist ul{
list-style: none;
}
.footerlist a{
text-decoration: none;
color: white;
line-height: 30px;
}
.footercol{
width: 150px;
}
.footercol h4, .footercolspecial h4{
margin-bottom: 20px;
margin-top: 20px;
}
.footercolspecial{
width: 250px;
}
.C19{
width: 100%;
background-color: #0f1b31;
margin-bottom: 10px;
}
.COVID-19{
width: 1350px;
background-color: #0f1b31;
margin: auto;
display: flex;
justify-content: flex-end;
}
.COVID-19 a{
color: #000000;
text-decoration: none;
background-color: #dbf8ed;
padding: 20px 40px;
}
.footerbom{
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: #0f1b31;
    justify-content: center;
}
.copy{
    width: 450px;
    color: white;
    display: flex;
    align-items: center;
}
.copy ul{
    display: inline-block;
    justify-content: center;
}
.copy li{
    list-style: none;
    display: inline-block;
}
.copyimg{
    width: 450px;
}
.copyp{
    width: 450px;
    color: white;
    display: flex;
    justify-content: center;
}